@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');
body {
    background-color: black;
    color: red;
    padding: 2rem;
}
header h1 {
    font-family: 'Sofadi One', cursive;
    text-align: center;
    font-weight: bolder;
}