@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Montserrat&display=swap');
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lacquer', cursive;
}
p {
  font-family: 'Montserrat', sans-serif;
}
.dis12-content {
  padding: 2px 12px 2px 12px;
}
